<%= content_for(:title) do %>
  Supa Manga Parrrrrrty
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div id="banner">
        <h1>Welcome to the Supa Manga Party app!</h1>

        <h2>Prêt à ajouter votre personnage à la
          <% if @persos.size >= 5 %>
           <%= link_to("liste des invités", persos_path) %>
          <% else %>
          liste des invités
          <% end %>
           ?
        </h2>
        <div class="sm-padded">
          <%= link_to new_perso_path do %>
            <button class="btn btn-lg btn-warning">ADD!</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>