#banner {
  font-family: $my-font;
  color: orange;
  text-shadow: black 2px 2px, white -2px -2px;

  h1 {
    font-family: $my-font;
    font-size: 80px;
  }
  h2 {
    font-family: $my-font;
  }
}

